{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %}

<main
  class="px-5 mb-auto mt-auto d-flex flex-column me-auto ms-auto col-12 col-lg-7 col-md-9 col-sm-12 align-items-center"
>
  <h1 class="fw-bold typewriter mb-2 p-2" style="max-width: min-content">
    Smart Email, Done <span class="p-0" style="color: #d96121">Right.</span>
  </h1>
  <p class="lead fade-in my-2" style="font-weight: 500">
    Get Key Content from Any Website. We scan a page’s headlines and text, then
    email it to you instantly.
  </p>

  <a
    href="/task"
    class="btn btn-lg btn-light fw-bold btn-cta rounded fade-in-up mb-4 mt-4"
  >
    START HERE
  </a>
</main>

{% endblock %}
