{% extends 'base.html' %} {% block title %} About Us {% endblock %} {% block
content %}
<div class="d-flex flex-row flex-wrap my-auto">
  <div class="col-12 col-lg-3 col-md-6 p-1 fade-in-up-0">
    <div class="card">
      <div class="card-header p-0">
        <img class="img-fluid" src="../static/image/ahmed.JPG" alt="" />
      </div>
      <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
          <h5 class="text-light text-start">Ahmed Sadeq Hussein</h5>
          <p style="color: #d96121">IT</p>
        </div>
        <p class="text-start m-0 p-0" style="color: rgb(167, 167, 167)">
          21910199
        </p>
        <br />
        <h6 class="text-start">Hobbies:</h6>
        <div class="text-start mt-2 ps-2">
          <p class="text-light m-0" style="color: gray !important">Cooking</p>
          <p class="text-light m-0" style="color: gray !important">Podcasts</p>
          <p class="text-light m-0" style="color: gray !important">Music</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 col-md-6 p-1 fade-in-up-1">
    <div class="card">
      <div class="card-header p-0">
        <img
          class="img-fluid"
          src="../static/image/ehsan.jpg"
          alt=""
          style="object-fit: cover !important"
        />
      </div>
      <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
          <h5 class="text-light text-start">Seyedehsan Damak</h5>
          <p style="color: #d96121">IT</p>
        </div>
        <p class="text-start m-0 p-0" style="color: rgb(167, 167, 167)">
          22311781
        </p>
        <br />
        <h6 class="text-start">Hobbies:</h6>
        <div class="text-start mt-2 ps-2">
          <p class="text-light m-0" style="color: gray !important">Movies</p>
          <p class="text-light m-0" style="color: gray !important">Coding</p>
          <p class="text-light m-0" style="color: gray !important">Reading</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 col-md-6 p-1 fade-in-up-2">
    <div class="card">
      <div class="card-header">
        <img class="img-fluid" src="../static/image/emmanuel.JPG" alt="" />
      </div>
      <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
          <h5 class="text-light text-start">Emmanuel Ditekemena</h5>
          <p style="color: #d96121">IT Sec</p>
        </div>
        <p class="text-start m-0 p-0" style="color: rgb(167, 167, 167)">
          22205734
        </p>
        <br />
        <h6 class="text-start">Hobbies:</h6>
        <div class="text-start mt-2 ps-2">
          <p class="text-light m-0" style="color: gray !important">Gaming</p>
          <p class="text-light m-0" style="color: gray !important">Music</p>
          <p class="text-light m-0" style="color: gray !important">Basketball</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 col-md-6 p-1 fade-in-up-3">
    <div class="card">
      <div class="card-header p-0">
        <img class="img-fluid" src="../static/image/khashi.JPG" alt="" />
      </div>
      <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
          <h5 class="text-light text-start">Khashayar Khosrosourmi</h5>
          <p style="color: #d96121">IT</p>
        </div>
        <p class="text-start m-0 p-0" style="color: rgb(167, 167, 167)">
          22302442
        </p>
        <br />
        <h6 class="text-start">Hobbies:</h6>
        <div class="text-start mt-2 ps-2">
          <p class="text-light m-0" style="color: gray !important">Guitar</p>
          <p class="text-light m-0" style="color: gray !important">Movies</p>
          <p class="text-light m-0" style="color: gray !important">Swimming</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
